@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monsterrat", sans-serif;
  background-color: #ffcefe;
  height: 100vh;
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 3rem;
  max-width: 800px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 1rem;
}
.info h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.info h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #645cff;
}
.text-box {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box p {
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.arrows button {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #645cff;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.arrows svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: #645cff;
}
