@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monsterrat", sans-serif;
  background-color: #ffcefe;
  height: 100vh;
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .background {
  background-color: #645cff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
} */

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

svg {
  cursor: pointer;
}
